body, html, div {
  margin: 0;
  padding: 0;
}

li, ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.col-3 {
  padding: 0;
}
.main-container {
  max-width: 100%;
  padding: 0;
}
/* @media (min-width: 1600px) {
  .container {
    width: 95%;
  }

} */
